body {
  margin: 0;
  font-family: "Open Sans";
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

.href-decor {
  text-transform: uppercase;
  text-decoration: none;  
  color: #000000;
}

.bold-text {
  font-weight: 700;
}

h2, h3, h4, h5 {
  margin: 0;
}


/*---------header_logo----------------*/

.header1 { 
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;

  position: relative;
  margin: 0;
}

.header1::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #071546;
  opacity: 0.80;
}


/*---------header1-container----------------*/

.header1-container {
  position: relative;
  z-index: 1;
}

.header1-container__logo {
  margin-left:auto;
  margin-right:auto;
  fill: #ffffff;

  width: 130px;
}

.header1-container__title {
  text-transform: uppercase;
  font-weight: 700;
  color: #ffffff;

  display: block;
}

@media (max-width: 640px) {
  .header1-container {
    padding-top: 39px;
    padding-bottom: 84px;
  }

  .header1-container__title {
    font-size: 1.75rem;
    letter-spacing: 1px;
  }

  .header1-container__title:first-child {
    padding-top: 108px;
  }

  .header1-container__title:last-child {
    padding-top: 14px;
    padding-left: 40px;
    line-height: 2rem;
  }
}

@media (min-width: 641px) and (max-width: 960px) {
  .header1-container {
    padding-top: 39px;
    padding-bottom: 90px;
  }

  .header1-container__title {
    font-size: 4rem;
    letter-spacing: 4px;
  }

  .header1-container__title:first-child {
    padding-left: 64px;
    padding-top: 118px;
  }

  .header1-container__title:last-child {
    padding-left: 170px;
    line-height: 75px;
  }

}

@media (min-width: 961px){
  .header1-container {
    padding-top: 45px;
    padding-bottom: 90px;

    padding-left: 11px;
    padding-right: 13px;
  }

  .header1-container__title {
    font-size: 90px;
    letter-spacing: 4px;
    line-height: 75px;
  }

  .header1-container__title:first-child {
    padding-top: 195px;
  }

  .header1-container__title:last-child {
    /* text-align: right; */
    padding-left: 450px;
  }
}


/*---------header buttons----------------*/

.button {
  display: block;
  box-sizing: border-box;

  background-color: #5e42b0;
  color: #fff;

  text-transform: uppercase;
  text-decoration: none;
}

.button:hover {
  background-color: #513a96;
}

.button__content {
  display: flex;
}

@media (max-width: 640px) {
  .header1-container__buttons-wrap{
    margin-top: 82px;

    width: 87.5%;
    margin-left: auto;
    margin-right: auto;

    padding-bottom: 90px;
  }

  .button {
    display: block;
    padding-top: 7px;
    padding-bottom: 7px;

    border-radius: 20px;
    font-size: 8px;
  }

  .button:last-child{
    margin-top: 15px;
  }

  .button__content {
    padding-left: 35%;
  }

  .button__download {
    padding-left: 8px;
  }

  .button__logo {
    width: 30px;
  }
}

@media (min-width: 641px) and (max-width: 960px) {
  .header1-container__buttons-wrap {
    padding-top: 312px;
    padding-bottom: 90px;

    width: 85%;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    justify-content: center;
  }

  .button {
    padding-top: 15px;
    padding-bottom: 18px;
    border-radius: 40px;
    font-size: 14px;

    min-width: 45%;
  }

  .button:last-child{
    margin-left: 30px;
  }

  .button__content {
    padding-left: 15%;
    margin-left: auto;
    margin-right: auto;
  }

  .button__download {
    padding-left: 22px;
    padding-top: 5px;
  }

  .button__logo {
    width: 40px;
  }
}

@media (min-width: 961px) {
  .header1-container__buttons-wrap {
    margin-top: 160px;

    width: 43%;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    justify-content: space-between;

    padding-bottom: 110px;
  }

  .button {
    padding-top: 15px;
    padding-bottom: 18px;
    border-radius: 40px;
    font-size: 14px;

    min-width: 310px;

    padding-top: 15px;
    padding-bottom: 18px;
    border-radius: 40px;
  }

  .button:last-child{
    margin-left: 30px;
  }

  .button__content {
    padding-left: 15%;
    margin-left: auto;
    margin-right: auto;
  }

  .button__download {
    padding-left: 22px;
    padding-top: 5px;
  }

  .button__logo {
    width: 45px;
  }
}

/*----------------ATHLETES------------------*/

.relative {
  position: relative;
}

.image1 {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;

  display: block;
}

.enum {
  vertical-align: top;
  position: relative;
}

.enum::after {
  content: "";
  display: block;
  width: 25px;
  height: 3px;
  background-color: #777;

  position: absolute;
  top: 100%;
  left: 0;
}

.enum-magenta {
  font-size: 14px;
  vertical-align: top;
  position: relative;

  color: #8765dd;
}

.enum-magenta::after {
  content: "";
  display: block;
  width: 25px;
  height: 3px;
  background-color: #ffffff;

  position: absolute;
  top: 100%;
  left: 0;
}


@media (max-width: 640px) {
  .athlets-padding {
    padding-left: 20px;
    padding-right: 20px;
  }

  .athlets-title {
    padding-top: 25px;

    font-size: 50px;
    color: #e7e7e7;
  }

  .athlets-item:nth-child(2) {
    /* отступ для картинки */
    padding-top: 330px;
  }

  .athlets-item {
    padding-top: 60px;
    padding-bottom: 55px;
  }

  .athlets-item:nth-child(3) {
    /* ?? */
    background-color: #f6f4fa;
  }

  .athlets-item:last-child {
    background-color: #5e42b0;
    color: #ffffff;
  }

  .athlets-item__title {
    padding-left: 10px;
    font-size: 23px;
    color: #c1c1c1;
  }

  .athlets-item__text {
    margin-top: 25px;
    margin-bottom: 0;

    font-size: 15px;
    line-height: 18px;
    letter-spacing: 1px;
  }

  .enum {
    font-size: 14px;
    line-height: 35px;
  }

  .enum::after {
    width: 15px;
  }

  .enum-magenta {
    font-size: 14px;
    line-height: 35px;
  }

  .enum-magenta::after {
    width: 15px;
  }

  .image1 {
    position: absolute;
    left: -5%;
    top: 80%;
    /* width: 300px; */
    height: 330px;
    width: 100%;

    z-index: 1;
  }

}

@media (min-width: 641px) and (max-width: 960px) {
  .athlets-padding {
    padding-left: 280px;
  }

  .athlets-title {
    padding-top: 85px;

    font-size: 80px;
    color: #e7e7e7;
  }

  .athlets-item {
    padding-top: 60px;
    padding-bottom: 55px;
  }

  .athlets-item:nth-child(3) {    
    background-color: #f6f4fa;
  }

  .athlets-item:last-child {
    background-color: #5e42b0;
    color: #ffffff;
  }

  .athlets-item__title {
    padding-left: 10px;
    font-size: 36px;
    color: #c1c1c1;
  }

  .athlets-item__text {
    margin-top: 25px;
    margin-bottom: 0;

    font-size: 20px;
    line-height: 28px;
    letter-spacing: 2px;
  }

  .enum {
    font-size: 24px;
    line-height: 35px;
  }

  .enum-magenta {
    font-size: 24px;
    line-height: 35px;
  }

  .image1 {
    position: absolute;
    left: -55%;
    top: 10px;    
    height: 1000px;
    width: 100%;

    z-index: 1;
  }
}

@media (min-width: 961px) {
  .athlets-padding {
    padding-left: 53.2%;
    padding-right: 10px;
    padding-top: 0px;
  }

  .athlets-title {
    padding-top: 115px;

    font-size: 80px;
    color: #e7e7e7;
  }

  .athlets-item {
    padding-top: 60px;
    padding-bottom: 55px;
  }

  .athlets-item:nth-child(3) {    
    background-color: #f6f4fa;
  }

  .athlets-item:last-child {
    background-color: #5e42b0;
  }

  .athlets-item__title {
    padding-left: 10px;
    font-size: 36px;
    color: #c1c1c1;
  }

  .athlets-item__text {
    margin-top: 25px;
    margin-bottom: 0;

    font-size: 20px;
    line-height: 28px;
    letter-spacing: 2px;
  }

  .image1 {
    position: absolute;
    left: -25%;
    top: 20px;    
    height: 1000px;
    width: 100%;

    z-index: 1;
  }
}

/* -------------PLAYERS------ */
.image2 {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.players-section > .athlets-item:nth-child(4)  {
  background-color: #090c35;
}

.players-section > .athlets-item:nth-child(4) > .athlets-item__text  {
  color: #fff;
}

@media (max-width: 640px) {
  .players-padding {
    padding-left: 20px;
    padding-right: 20px;
  }

  .image2 {
    position: absolute;
    left: 0%;
    top: 50px;
    height: 330px;
    width: 300px;

    z-index: 1;
  }
}

@media (min-width: 641px) and (max-width: 960px) {
  .players-padding {
    padding-left: 30px;
    padding-right: 307px;
  }

  .image2 {
    position: absolute;
    left: 45%;
    top: -100px;
    height: 1000px;
    width: 100%;

    z-index: 1;

    background-position: center center;
  }
}

@media (min-width: 961px) {
  .players-padding {
    padding-left: 10px;
    padding-right: 50%;
  }

  .image2 {
    position: absolute;
    left: 40%;
    top: 20px;
    width: 100%;
    height: 900px;    
    z-index: 1;
  }
}


/*-------------------- BE ACTIVE----------------*/

.be-active-padding {
  padding-left: 30px;
  box-sizing: border-box;
}

.image3 {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  padding-bottom: 109%;
  position: relative;

  box-sizing: border-box;
}

.image4 {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  padding-bottom: 109%;
  position: relative;
  box-sizing: border-box;
}

.image5 {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  padding-bottom: 109%;
  position: relative;

  box-sizing: border-box;
}

@media (max-width: 640px) {
  .be-active-section {
    display: block;
  }  

  .be-active-info {
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 80px;
  }  

  .be-active-info__title {
    font-size: 28px;
    line-height: 35px;
    text-transform: uppercase;
    color: #e7e7e7;
  }

  .be-active-info__text {
    margin: 0;
    padding-top: 25px;

    font-size: 16px;
    line-height: 20px;
    letter-spacing: 1px;
  }

  .be-active-block__image {
    padding-bottom: 350px;
  }


  .image3::after {
    position: absolute;
    background-color: #8765dd;
    font-weight: 700;

    content: "01";
    color: #fff;
    text-align: center;
    vertical-align: center;

    left: 6.25%;
    top: 84%;
    padding-top: 6%;
    padding-bottom: 8%;

    box-sizing: border-box;
    font-size: 14px;
    width: 70px;
    height: 70px;
  }

  .image4::after {
    position: absolute;
    background-color: #8765dd;
    font-weight: 700;

    content: "02";
    color: #fff;
    text-align: center;
    vertical-align: center;

    left: 6.25%;
    top: 85%;
    padding-top: 5.5%;
    padding-bottom: 8%;

    box-sizing: border-box;
    font-size: 14px;
    width: 70px;
    height: 70px;
  }

  .image5::after {
    position: absolute;
    background-color: #8765dd;
    font-weight: 700;

    content: "03";
    color: #fff;
    text-align: center;
    vertical-align: center;

    left: 6.25%;
    top: 85%;
    padding-top: 5.5%;
    padding-bottom: 8%;

    box-sizing: border-box;
    font-size: 14px;
    width: 70px;
    height: 70px;
  }
}

@media (min-width: 641px) and (max-width: 960px) {

  .be-active-section {
    display: block;
  }  

  .be-active-info {
    padding-top: 90px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 100px;
  }  

  .be-active-info__title {
    font-size: 80px;
    line-height: 60px;
    text-transform: uppercase;
    color: #e7e7e7;
  }

  .be-active-info__text {
    margin: 0;
    padding-top: 35px;

    font-size: 24px;
    line-height: 28px;
    letter-spacing: 2px;
  }

  .be-active-block__image {
    padding-bottom: 730px;
  }

  .image3::after {
    position: absolute;
    background-color: #8765dd;
    font-weight: 700;

    content: "01";
    color: #fff;
    text-align: center;
    vertical-align: center;

    left: 6.25%;
    top: 87%;
    width: 21.875%;
    padding-top: 6%;
    padding-bottom: 8%;

    font-size: 24px;
  }

  .image4::after {
    position: absolute;
    background-color: #8765dd;
    font-weight: 700;

    content: "02";
    color: #fff;
    text-align: center;
    vertical-align: center;

    left: 6.25%;
    top: 87%;
    width: 21.875%;
    padding-top: 5.5%;
    padding-bottom: 8%;

    font-size: 24px;
  }

  .image5::after {
    position: absolute;
    background-color: #8765dd;
    font-weight: 700;

    content: "03";
    color: #fff;
    text-align: center;
    vertical-align: center;

    left: 6.25%;
    top: 87%;
    width: 21.875%;
    padding-top: 5.5%;
    padding-bottom: 8%;

    font-size: 24px;
  }
}

@media (min-width: 961px) {

  .be-active-section {
    display: flex;
    flex-wrap: wrap;
  }

  .be-active-block {
    width: 50%;
    height: 730px;
  }

  .be-active-info {
    padding-left: 130px;
    padding-right: 10px;

    padding-top: 260px;
  }

  .be-active-block:nth-child(4)>.be-active-info {
    padding-left: 10px;
    padding-right: 130px;
  }

  .be-active-info__title {
    font-size: 80px;
    line-height: 60px;
    text-transform: uppercase;
    color: #e7e7e7;
  }

  .be-active-info__text {
    margin: 0;
    padding-top: 120px;

    font-size: 24px;
    line-height: 28px;
  }

  .be-active-block__image {
    padding-bottom: 730px;
  }


  .image3::after {
    position: absolute;
    background-color: #8765dd;
    font-weight: 700;

    content: "01";
    color: #fff;
    text-align: center;
    vertical-align: center;

    left: 91%;
    top: 28.5%;
    width: 17.5%;
    padding-top: 6%;
    padding-bottom: 8%;

    font-size: 1.5rem;
  }

  .image4::after {
    position: absolute;
    background-color: #8765dd;
    font-weight: 700;

    content: "02";
    color: #fff;
    text-align: center;
    vertical-align: center;

    left: -8%;
    top: 28.5%;
    width: 17.5%;
    padding-top: 6%;
    padding-bottom: 8%;

    font-size: 1.5rem;
  }

  .image5::after {
    position: absolute;
    background-color: #8765dd;
    font-weight: 700;

    content: "03";
    color: #fff;
    text-align: center;
    vertical-align: center;

    left: 91%;
    top: 28.5%;
    width: 17.5%;
    padding-top: 6%;
    padding-bottom: 8%;

    font-size: 1.5rem;
  }

  .be-active-block:nth-child(-n+2) {
    order: -2;
  }


  .be-active-block:nth-child(4) {
    order: -1;
  }

  .be-active-block:nth-child(n+5) {
    order: 9;
  }
}

/*--------------footer----------------------*/

.footer {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.footer::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #071546;
  opacity: 0.80;
}

.footer-container {
  position: relative;
  z-index: 1;
}

.button__footer__container {
  padding-top: 101px;
}

.footer-logo-title-container__logo {
  display: flex;
  background-color: #5e42b0;
  color: #fff;
}

.footer-logo-title-container__logo:hover {
  background-color: #513a96;
}

.footer-title__download {
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}


.footer-logo-title-container__svg {
  fill: #fff;

  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 640px) {
  .footer-logo-title-container {
    padding-top: 100px;
    display: block;
  }

  .footer-logo-title-container__logo {
    width: 75px;
    height: 75px;
    border-radius: 10px;

    margin-left: auto;
    margin-right: auto;
  }

  .footer-logo-title-container__svg {
    width: 60px;

    padding-top: 10px;
    padding-bottom: 10px;

  }

  .footer-title {
    padding-top: 57px;
    padding-left: 15px;
    text-align: center;
    text-transform: uppercase;
  }

  .footer-title__download {
    font-size: 32px;
    letter-spacing: 2px;
  }

  .footer-title__show {
    padding-top: 10px;
    padding-left: 10px;

    font-size: 14px;
    color: #a496ca;

    font-weight: 400;
  }

  .footer-buttons-wrap {
    padding-top: 150px;
    width: 85%;

    display: flex;
    justify-content: center;

    margin-left: auto;
    margin-right: auto;
  }

  .footer-lower-logo {
    margin-left:auto;
    margin-right:auto;
    fill: #ffffff;

    width: 195px;
    padding-top: 260px;
    padding-bottom: 50px;
  }


  .button__footer {
    width: 21.875%;
    border-radius: 15px;
  }

  .footer-logo {
    width: 55px;
    padding-top: 12px;
    padding-bottom: 12px;
    fill: #fff;

    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 641px) and (max-width: 960px) {
  .footer-logo-title-container {
    padding-top: 125px;
    display: block;
  }

  .footer-logo-title-container__logo {
    width: 130px;
    height: 130px;
    border-radius: 30px;

    margin-left: auto;
    margin-right: auto;
  }

  .footer-logo-title-container__svg {
    width: 90px;

    padding-top: 10px;
    padding-bottom: 10px;

  }

  .footer-title {
    padding-top: 80px;
    padding-left: 15px;
    text-align: center;
    text-transform: uppercase;
  }

  .footer-title__download {
    font-size: 80px;
    line-height: 60px;
    letter-spacing: 2px;
  }

  .footer-title__show {
    padding-top: 10px;
    padding-left: 10px;

    font-size: 30px;
    line-height: 35px;
    color: #a496ca;

    font-weight: 400;
  }

  .footer-buttons-wrap {
    padding-top: 150px;
    width: 85%;

    display: flex;
    justify-content: center;

    margin-left: auto;
    margin-right: auto;
  }

  .footer-lower-logo {
    margin-left:auto;
    margin-right:auto;
    fill: #ffffff;

    width: 195px;
    padding-top: 260px;
    padding-bottom: 50px;
  }

}

@media (min-width: 961px) {
  .footer-logo-title-container {
    padding-top: 230px;
    display: flex;
    justify-content: center;
  }

  .footer-logo-title-container__logo {
    width: 130px;
    border-radius: 30px;
  }

  .footer-logo-title-container__svg {
    width: 70px;

    padding-top: 12px;
    padding-bottom: 12px;

  }

  .footer-title {
    padding-left: 15px;
  }

  .footer-title__download {
    font-size: 80px;
    line-height: 60px;
    letter-spacing: 2px;
  }

  .footer-title__show {
    padding-top: 10px;
    padding-left: 10px;

    font-size: 30px;
    line-height: 35px;
    color: #a496ca;

    font-weight: 400;
  }

  .footer-buttons-wrap {
    padding-top: 150px;

    display: flex;
    justify-content: center;
  }

  .footer-lower-logo {
    margin-left:auto;
    margin-right:auto;
    fill: #ffffff;

    width: 195px;
    padding-top: 260px;
    padding-bottom: 50px;
  }
}

 /* ----------IMAGES -------------------- */

@media (max-width: 640px) {

  .button__google {
    margin-top: 14px;
  }
    /* ------------- images --------------*/
  .header1 {
    background-image: url(img/football_767.jpg);
  }

  .image1 {
    background-image: url(img/footballer_192.png);
  }

  .image2 {
    background-image: url(img/basketballer_302.png);
  }

  .image3 {
    background-image: url(img/be-active_640.jpg);
  }

  .image4 {
    background-image: url(img/find-contact_640.jpg);
  }

  .image5 {
    background-image: url(img/work-it_640.jpg);
  }

  .footer {
    background-image: url(img/game_767.jpg);
  }
}

@media (min-width: 641px) and (max-width: 960px) {
  h1 {   
    font-size: 4rem;
    letter-spacing: 1px;
  }


  /* ------------- images --------------*/
  .header1 {
    background-image: url(img/football_1280.jpg);
  }

  .image1 {
    background-image: url(img/footballer_566.png);
  }

  .image2 {
    background-image: url(img/basketballer_991.png);
  }

  .image3 {
    background-image: url(img/be-active.jpg);
  }

  .image4 {
    background-image: url(img/find-contact.jpg);
  }

  .image5 {
    background-image: url(img/work-it_960.jpg);
  }

  .footer {
    background-image: url(img/game_767.jpg);
  }
  
}

@media (min-width: 961px) {


  .header1 {
    background-image: url(img/football_1920.jpg);
  }

  .image1 {
    background-image: url(img/footballer_566.png);
  }

  .image2 {
    background-image: url(img/basketballer_991.png);
  }

  .image3 {
    background-image: url(img/be-active_960.jpg); /*768*/
  }

  .image4 {
    background-image: url(img/find-contact_1024.jpg);
  }

  .image5 {
    background-image: url(img/work-it_1024.jpg);
  }

  .footer {
    background-image: url(img/game_1280.jpg);
  }

/* -----------Overlay------------- */

  body::after {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.3;
    pointer-events: none;
    z-index: 99;
  }
 }

 @font-face {
   font-family: "Open Sans";
   src: url("https://fonts.gstatic.com/s/opensans/v17/mem6YaGs126MiZpBA-UFUK0Udc1UAw.woff2");
   font-weight: 400;
   font-style: normal;
 }

 @font-face {
   font-family: "Open Sans";
   src: url("https://fonts.gstatic.com/s/opensans/v17/mem6YaGs126MiZpBA-UFUK0Udc1UAw.woff2");
   font-weight: 700;
   font-style: normal;
 }


body {
  margin: 0;
  font-family: Open Sans, Arial, san-serif;
  overflow-x: hidden;
}
